container_hosts:
  hosts:
{% for host, values in container_hosts.hosts.iteritems() %}
    {{ host }}:
{% for param_key, param_value in values.iteritems() %}
      {{ param_key }}: {{ param_value }}
{% endfor %}
{% endfor %}
