CONTAINER_REGISTRY: opencontrailnightly                                                  
REGISTRY_PRIVATE_SECURE: false                                                           
REGISTRY_PRIVATE_INSECURE: false                                                         
contrail_configuration:                                                                  
  OPENSTACK_VERSION: ocata                                                               
  LINUX_DISTR: centos7                                                                   
  CONTRAIL_VERSION: master-20180131150536                                                
  #CONTROLLER_NODES: 10.87.119.4,10.87.119.5,10.87.119.7                                 
  CONTROLLER_NODES: 192.16.7.13,192.16.7.14,192.16.7.15                                  
  CONTROL_NODES: 192.16.7.13,192.16.7.14,192.16.7.15                                     
  CLOUD_ORCHESTRATOR: openstack                                                          
  AUTH_MODE: keystone                                                                    
  KEYSTONE_AUTH_ADMIN_PASSWORD: c0ntrail123                                              
  KEYSTONE_AUTH_HOST: 192.16.7.28                                                        
  RABBITMQ_NODE_PORT: 5673                                                               
  PHYSICAL_INTERFACE: bond0                                                              
  VROUTER_GATEWAY: 192.168.7.1

roles: 
{% for key , value in contrail_configs['roles'].iteritems() %}
  {{ key }}:
    {% for item in value %}                                                                                          
    {{ item }}:
    {% endfor %}
{% endfor %}


